<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ampel Pilot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A35F9F281F8378DA00208042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A35F9F3C1F8378DB00208042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A35F9F471F8378DB00208042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
